#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "default";

        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  100   40       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   40       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            , <&key_physical_attrs 100 100  800   50       0     0     0>
            , <&key_physical_attrs 100 100  900   40       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 100 100 1100   40       0     0     0>
            , <&key_physical_attrs 100 100 1200  100       0     0     0>
            , <&key_physical_attrs 100 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  100  140       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  140       0     0     0>
            , <&key_physical_attrs 100 100  400  150       0     0     0>
            , <&key_physical_attrs 100 100  800  150       0     0     0>
            , <&key_physical_attrs 100 100  900  140       0     0     0>
            , <&key_physical_attrs 100 100 1000  100       0     0     0>
            , <&key_physical_attrs 100 100 1100  140       0     0     0>
            , <&key_physical_attrs 100 100 1200  200       0     0     0>
            , <&key_physical_attrs 100 100    0  300       0     0     0>
            , <&key_physical_attrs 100 100  100  240       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  240       0     0     0>
            , <&key_physical_attrs 100 100  400  250       0     0     0>
            , <&key_physical_attrs 100 100  800  250       0     0     0>
            , <&key_physical_attrs 100 100  900  240       0     0     0>
            , <&key_physical_attrs 100 100 1000  200       0     0     0>
            , <&key_physical_attrs 100 100 1100  240       0     0     0>
            , <&key_physical_attrs 100 100 1200  300       0     0     0>
            , <&key_physical_attrs 100 100  248  362       0     0     0>
            , <&key_physical_attrs 100 100  248  362    1600   298   790>
            , <&key_physical_attrs 100 100  248  362    3200   298   790>
            , <&key_physical_attrs 100 100  248  362    4800   298   790>
            , <&key_physical_attrs 100 100  248  262    3200   298   790>
            , <&key_physical_attrs 100 100  952  262 (-3200)  1002   790>
            , <&key_physical_attrs 100 100  952  362 (-4800)  1002   790>
            , <&key_physical_attrs 100 100  952  362 (-3200)  1002   790>
            , <&key_physical_attrs 100 100  952  362 (-1600)  1002   790>
            , <&key_physical_attrs 100 100  952  362       0     0     0>
            ;
    };
};

